* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*overflow: hidden;*/
}
:root {
  --primary: #02be6e;
  --light: #e8fff5;
  --second: #888888;
  --third: #e4e4e4;
  --background: #f0f0f0;
  --gap: 8px;
  --card-width: calc(((100% / 6)) - var(--gap));
}
@media only screen and (max-width: 1200px) {
  :root {
    --card-width: calc(((100% / 5)) - var(--gap));
  }
}
@media only screen and (max-width: 960px) {
  :root {
    --card-width: calc(((100% / 4)) - var(--gap));
  }
}
@media only screen and (max-width: 720px) {
  :root {
    --card-width: calc(((100% / 3)) - var(--gap));
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --card-width: calc(((100% / 2)) - var(--gap));
  }
}
@media only screen and (max-width: 240px) {
  :root {
    --card-width: calc(((100% / 1)) - var(--gap));
  }
}
html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--background);
  overflow: hidden;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: var(--gap);
  display: inline;
}
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  position: absolute;
  top: 8px;
  right: 8px;
  color: white;
  background-color: var(--primary);
  border-radius: 2rem;
  padding: 0.15rem 0.8rem;
}
h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 2rem;
  border-left: 4px solid transparent;
}
h5:hover{
  background-color: var(--light);
  cursor: pointer;
  border-left: 4px solid var(--primary);
}
p {
  font-family: "Oswald", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--second);
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--primary);
}
img {
  max-width: 100%;
  border-radius: 4px;
}
i{
  margin-right: 1rem;
}
header {
  box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.15);
  background-color: white;
  padding: 0.4rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;
}
section {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-left: var(--gap);
  margin-top: 0.8rem;
}
.card {
  background-color: white;
  border-radius: 8px;
  border: white solid 4px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.1);
  flex: 0 0 var(--card-width);
  position: relative;
}
.card:hover {
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.header {
  flex: 0 1 auto;
}
.content {
  flex: 1 1 auto;
  display: flex;
}
.sidebar {
  width: 2.5rem;
  background-color: white;
  border-right: 1px solid var(--third);
  text-align: left;
  transition: width 0.5s ease;
  z-index: 1;
}
.menuText{
  visibility: hidden; 
  opacity: 0;
  transition: delay 0.5s visibility 0.5s ease, opacity 0.4s ease;
}
.viewer {
  background-color: var(--background);
}
#viewer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
}